.element__delete-button {
  width: 18px;
  height: 19px;
  background-image: url('../../../images/delete_icon.svg');
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 20px;
  right: 20px;
}
