.popup__input-error {
  min-height: 30px;
  color: #FF0000;
  font-size: 12px;
  line-height: 15px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  opacity: 0;
}
