/* Desktop First */
/* 768px - 1280px+ */
.header__line {
  width: 880px;
  height: 0px;
  opacity: 0.7;
  border: 1px solid #545454;
  padding: 41px 0 0 0;
}

/* 320px - 767px */
@media screen and (max-width: 767px) {
  .header__line {
   width: 320px;
   padding-top: 31.6px;
  }
}
