.header {
  width: 100%;
  min-height: 74px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-top: 46px;
}

.header::after {
  content: '';
  width: 880px;
  border-bottom: 1px solid rgba(84,84,84,0.7);
  padding-bottom: 39px;
}

@media screen and (max-width: 1023px) {
  .header::after {
    width: calc((100vw - 320px) / (1024 - 320) * (880 - 320) + 320px);
    padding-bottom: 31.6px;
  }
}

@media screen and (max-width: 455px) {
  .header {
   min-height: 56px;
   padding-top: 28px;
  }
}

