.popup__name-input {
  width: 100%;
  /*width: 358px;*/
  color: #000000;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 30px 0 9px 0;
  outline: none; /* убираем рамку в input при вводе текста */
}

.popup__name-input:first-child {
  padding-top: 0;
}
