/* Desktop First */
/* - 1280px+ */
.element__image {
  max-width: 282px;
  background-color: #C4C4C4;
  border-radius: 10px 10px 0px 0px;
  display: block;
  object-fit: contain;
  object-position: center center;
  margin: 0;
  padding: 0;
  object-fit: cover;
  object-position: center;
}
