.profile__info-name {
  max-width: 87.5%;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  margin: 0;
  padding: 5px 19px 8px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (max-width: 767px) {
  .profile__info-name {
    max-width: 67%;
    font-size: calc((100vw - 320px) / (768 - 320) * (42 - 27) + 27px);
    line-height: calc((100vw - 320px) / (768 - 320) * (48 - 33) + 33px);
    padding: 0 10px 8px 29px;
  }
}
