.element__like-button {
  width: 22px;
  height: 19px;
  background-image: url('../../../images/element_group_heart.svg');
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 0.5s ease;
  border: none;
  margin: 0;
  padding: 0;
}

.element__icon:hover {
  opacity: 0.5;
  cursor: pointer;
}
