.profile__info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: calc((100vw - 320px) / (1280 - 320) * (420 - 282) + 282px);
}

@media screen and (min-width: 1280px) {
  .profile__info {
    max-width: 420px;
  }
}

@media screen and (max-width: 1023px) {
  .profile__info {
    justify-content: center;
  }
}
